$color_primary: #76324b;
$color_secondary: #636468;
$color_white: #fff;
$color_cream_white: #f8f8f8;
$color_black: #000;
$color_grey: #ccc;
$color_dark_grey: #666;
$color_bg_gradient: -webkit-linear-gradient(left, #362f2d, #534741);
$color_footer_bg: #191919;
$color_nice_border: #e2e2e2;

$logo_color: #636468;

$facebook_color: #3b5998;
$twitter_color: #33ccff;
$instagram_color: #336699;
$youtube_color: #c4302b;
$strava_color: 	#FC4C02;
$tiktok_color:  #69C9D0;

$color__background-screen: #f1f1f1;

$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__text-screen: #21759b;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
