/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  color: $color_primary;

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

body {
  background: $color_white; // Fallback for when there is no custom background color defined.
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: $color__border-button;
  border-radius: 3px;
  background: $color__background-button;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;

  &:hover {
    border-color: $color__border-button-hover;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
  width: 100%;
}

img {
  height: auto; // Make sure images are scaled correctly.
  max-width: 100%; // Adhere to container width.
}

figure {
  margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $color_dark_grey;
  border: 1px solid $color_grey;
  border-radius: 3px;
  padding: 3px;

  &:focus {
    color: $color__text-input-focus;
  }
}

select {
  border: 1px solid $color_grey;
}

textarea {
  width: 100%;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

hr {
  background-color: $color_grey;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  font-size: 1rem;
  line-height: $font__line-height-body;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
  font-family: $font__main;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: $color__background-pre;
  font-family: $font__pre;
  line-height: $font__line-height-pre;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: $font__code;
}

abbr,
acronym {
  border-bottom: 1px dotted $color_dark_grey;
  cursor: help;
}

mark,
ins {
  background: $color__background-ins;
  text-decoration: none;
}

big {
  font-size: 125%;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
  max-width: 80px;
}

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;

  img[class*="wp-image-"] {

    @include center-block;
  }

  .wp-caption-text {
    margin: 0.8075em 0;
  }
}

.wp-caption-text {
  text-align: center;
}

.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

// Loops to enumerate the classes for gallery columns.
@for $i from 2 through 9 {

  .gallery-columns-#{$i} {
    grid-template-columns: repeat($i, 1fr);
  }
}

.gallery-caption {
  display: block;
}

.widget {
  margin: 0 0 1.5em;

  // Make sure select elements fit in widgets.
  select {
    max-width: 100%;
  }
}

.alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  @include center-block;
  margin-bottom: 1.5em;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.

  &:focus {
    background-color: $color__background-screen;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: $color__text-screen;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; // Above WP toolbar.
  }
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

.social-links {
  a {
    &::before {
      display: inline-block;
      padding: 0 5px;
      font-family: 'FontAwesome';
      font-size: 25px;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      background-color: transparent;
      color: $color_white;
    }

    &[href*="facebook.com"]::before {
      content: '\f082';
    }

    &[href*="twitter.com"]::before {
      content: '\f099';
    }

    &[href*="plus.google.com"]::before {
      content: '\f0d4';
    }

    &[href*="pinterest.com"]::before {
      content: '\f0d3';
    }

    &[href*="youtube.com"]::before {
      content: '\f167';
    }

    &[href*="vimeo.com"]::before {
      content: '\f194';
    }

    &[href*="instagram.com"]::before {
      content: '\f16d';
    }

    &[href*="linkedin.com"]::before {
      content: '\f08c';
    }

    &[href*="rss.com"]::before {
      content: '\f143';
    }

    &[href*="dropbox.com"]::before {
      content: '\f16b';
    }

    &[href*="skype.com"]::before {
      content: '\f17e';
    }

    &[href*="strava.com"]::before {
      content: '\f428';
    }

    &[href*="tiktok.com"]::before {
      content: '\e07b';
    }

    &:hover[href*="facebook.com"]::before {
      color: $facebook_color;
    }

    &:hover[href*="twitter.com"]::before {
      color: $twitter_color;
    }

    &:hover[href*="instagram.com"]::before {
      color: $instagram_color;
    }

    &:hover[href*="youtube.com"]::before {
      color: $youtube_color;
    }

    &:hover[href*="strava.com"]::before {
      color: $strava_color;
    }

    &:hover[href*="tiktok.com"]::before {
      color: $tiktok_color;
    }
  }
}

